.header {
  background-color: #3B181E;

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 20px;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    @include font(forum, 12px, $color-white, 400);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }

  &__menu {
    display: inline-flex;
    flex-direction: column;
    background: none;
    border: none;
    outline: none;
    padding: 5px 0 0;

    span {
      width: 38px;
      height: 1px;
      background-color: $color-white;
      
      &:first-child {
        margin-bottom: 9px;
      }
    }
  }
}